.header {
    height: 15vh;
}

.no-hover {
    &:hover {
      transform: scale(1);
    }
  }

.title {
    font-size: 5vh;
}

.registerContainer {
    height: 80vh;
}

.register-input {
    justify-content: space-around;

    width: 65vh;
}

.user-title{
    font-size: 2vh;
}

#input {
    border: solid;
    cursor: text;
}

.play-button {
    border:solid; 
}

.play-icon {
    margin-top: 0.5vh;
    scale: 1.75;
    font-weight: 900;
}

.button-style #play-icon {
    width: 3vh;
    height: 3vh;
}


input.ng-invalid {
    background-color:rgb(249, 99, 99);
}
input.ng-valid {
    background-color:lightgreen;
}

.not-allowed {
    cursor: not-allowed;
    opacity: 0.7;
}

.message-container {
    height: 25vh;
    width: 35vw;
    border: solid black;
    border-radius: 2vh;
    background-color: white;
}

.yesNo {
    width: 15vw;
}    






