.modal {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
}

.reset-all-games {
	top: 0;
	width: 100%;
	height: 100%;
}

.reset-game {
	width: 40vw;
	height: 38.5vh;

	border-radius: 2vh;
}

.modal-contents {
	position: absolute;

	width: 25vw;
	height: 20vh;

	background-color: rgb(236, 240, 128);
	border-radius: 2vh;
	padding: 2vh;
}

.modal-btn {
	margin: 1vh;
}