<div #modal *ngFor="let info of popUpInfo">
    <div
        class="flex-column center modal"
        [ngClass]="{
            'delete-game': !info.isAllGames,
            'delete-all-games': info.isAllGames
        }"
    >
        <div class="flex-column center modal-contents">
            <h1>{{ info.title }}</h1>
            <p>
                <strong>{{ info.message }}</strong>
            </p>
            <div class="flex-row center">
                <button #button1 class="button-style modal-btn" (click)="emitDeleteRequestConfirmation()">{{ info.option1 }}</button>
                <button #button2 class="button-style modal-btn" (click)="closePopUp()">{{ info.option2 }}</button>
            </div>
        </div>
    </div>
</div>
