.info-container {
    position: absolute; 
    bottom: 38vh;
    left: 0.5vw;

    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    border:solid;
    border-radius: 10px;
    
    height: 25vh;
    width: 10vw;
}


.icon {
    padding: 1vh;
    scale: 1.3;
}

.title {
    padding: 2px;
    letter-spacing: 0.09vw;
    font-size: 2vh;
}


