.container {
    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;

    border-radius: 20vh;
    border: solid;
    background-color: white;

    height: 15vh;
    width: 2.2vw;
    top: 57%;
    left: 2.5vw;

    cursor: pointer;

    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    $transition-time: 0.15s;

    &:hover {
        transform: translateX(-45%) translateY(-50%) scale(0.9);
        background-color: lightsalmon;
    }
}

.icon {
    margin-left: 3vh;
    scale: 2.5;
    font-weight: 500;
}
