<head>
    <meta charset="UTF-8" />
    <title>Mismatch Mania</title>
</head>

<body>
    <section class="logoContainer">
        <div>
            <img src=".\assets\img\game-icon.png" id="gameIcon" alt="gameLogo" />
        </div>
        <div>
            <app-parameters-button></app-parameters-button>
        </div>
    </section>

    <div class="flex-row center navBarContainer">
        <button class="button-style" routerLink="/selections">Mode Classique</button>
        <button class="button-style" routerLink="/registration/-1">Mode Temps Limité</button>
    </div>

    <footer class="footer-item">
        <p>Équipe 203</p>
        <div class="flex-row center dev-team">
            <span>Maxime Aspros</span>
            <span>Ahmed Ben Rhouma</span>
            <span>Ibrahim Boulahchiche</span>
            <span>Théo Gapihan</span>
            <span>Gabriel Louka </span>
            <span>Marie-Jade Marcil</span>
        </div>
    </footer>
</body>
